---
permalink: atom.xml
use:
    - posts
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

    <title>Tony R Quilkey - Thorpesystems.com</title>
    <link href="http://thorpesystems.com/atom.xml" rel="self"/>
    <link href="http://thorpesystems.com/"/>
    <updated>{{ site.time|date("c") }}</updated>
    <id>http://thorpesystems.com/</id>
    <author>
        <name>Tony R Quilkey</name>
        <email>trq@thorpesystems.com</email>
    </author>

    {% for post in data.posts %}
        <entry>
            <title>{{ post.title }}</title>
            <link href="http://thorpesystems.com{{ post.url }}"/>
            <updated>{{ post.date|date("c") }}</updated>
            <id>http://thorpesystems.com{{ post.url }}</id>
            <content type="html">
                <![CDATA[{{ post.content|escape("html") }}]]>
            </content>
        </entry>
    {% endfor %}
</feed>
