---
layout: default.twig
title: Posts
use:
    - posts
---

{% block content %}
    <section class="content">

        <ul class="listing">
            {% for post in data.posts %}
                <li>
                    <span>{{ post.date|date("j M Y") }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>

        <section class="social">
            <a href="https://github.com/{{ site.github }}" target="_blank"><i class="fa fa-github fa-fw"></i></a>
            <a href="https://twitter.com/{{ site.twitter }}" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
            <a href="/atom.xml"><i class="fa fa-rss fa-fw"></i></a>
        </section>
    </section>
{% endblock %}
